# Database Config
DATABASE_URL=postgresql://username:password@localhost:5432/hcp_crm

# Groq LLM Config
GROQ_API_KEY=your_groq_api_key
MODEL_NAME=llama-3.1-8b-instant

# Server Settings
PORT=8000
HOST=0.0.0.0
